* {
    margin: 0px;
    user-select: none;
    -webkit-user-select: none;
}

html {
    --bg1: #2d2d2d;
    --bg2: #1e1e1e;
    --bg3: #383838;
    --fg1: white;
    --fg2: grey;
    --fg3: #F2BC2F;
}

body {
    /* margin: 20px; */
    background: var(--bg1);
    color: var(--fg1);
}

.heading {
    text-align: center;
}

.app-container {
    display: grid; 
    grid-template-columns: 280px auto;
    gap: 0px;
}

.content-view {
    display: flex;
}

.welcome-container, .mid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    background: var(--bg2);
    /* User should be able to move this around later */
    max-width: 280px;
    padding-left: 5px;
}

.center-text {
    text-align: center;
}

.text-accent {
    color: var(--fg3);
}

.divider {
    height: 8px;
}

.sticky-container {
    /* padding-top: 0.7rem; */
    min-height: fit-content;
}

.contacts {
    height: calc(100vh - 123.2px);
    /* 100vh - the height of the floating part which happens to be 123.2 px rn */
    overflow-y: scroll;
    overflow-x: hidden;
}

.contact {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
}

.contact:hover {
    background: var(--bg3);
}

.msg-preview {
    color: grey;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.contact > .name {
    font-weight: bold;
}

.search-box > input {
    padding: 4%;
    margin: 4%;
    width: 84%;
    color: var(--fg1);
    background-color: var(--bg1);
    border: unset;
    font-size: 1rem;
    border-radius: 10px;
}

.profile {
    margin: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile > .name {
    font-size: 1.5rem;
    font-weight: bold;
}
.btn {
    display: flex;
    justify-self: center;
    all: unset;
    padding: 0.5rem;
    background-color: var(--bg1);
    color: var(--fg1);
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--bg3);
}
.btn:focus {
    border: 1px solid var(--fg2);
}
.floating-btn {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
}
.big-btn {
    background: var(--bg2);
    padding: 1rem;
    border: var(--fg3) 1px solid;
}


.message-box {
    margin: 1.25rem;
    max-height: 45vh;
    overflow-x: hidden;
    overflow-y: scroll;
    backface-visibility: hidden;
    grid-area: message-box;
}

.message-box > textarea {
    width: 100%;
    color: var(--fg1);
    background-color: var(--bg3);
    border: none;
    resize: none;
    font-size: 1rem;
    border-radius: 10px;
    line-height: 1.375rem;
    padding: 0.7rem;
    min-height: 1.7rem;

    outline: none;
    overflow: scroll;
    overflow-wrap: break-word;

}

.contact-info {
    width: 330px;
    /* flex: 1 1 auto; */
    grid-area: sidebar;
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat {
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    grid-area: chat;
}
.message {
    padding: 0.5rem 28px;
    user-select: text;
    -webkit-user-select: text;

}
.message:hover {
    background: var(--bg2);
}
.chat-title {
    grid-area: title;
    height: fit-content;
    font-weight: bold;
    margin: 12px;
}

.chat-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 330px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "title sidebar"
    "chat sidebar"
    "message-box sidebar";
}
.contact-info > p {
    background: var(--bg2);
    border-radius: 7px;
    padding: 0.5rem;
    margin: 0.25rem;
}
.warning {
    color: #eab30e;
}
.warning-red {
    color: #db3425;
}
